# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path
name: Sindi Resource Scanner - Snapshot Release

on:
  push:
    branches:
      - main
  workflow_dispatch:
    

jobs:
  snapshot_release:
    # if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed for creating a release if you automate that part
      packages: write # Needed if you also push to GitHub Packages

    steps:
      - name: Step 1 - Checkout code
        uses: actions/checkout@v4

      - name: Step 2 - Set up Java and Maven
        uses: actions/setup-java@v4
        with:
          java-version: '17' # Or your desired Java version
          distribution: 'temurin'
          cache: 'maven'
          # Important: This configures settings.xml for you
          # It looks for the server ID 'central' by default
          # and uses MAVEN_USERNAME/MAVEN_PASSWORD environment variables
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
          cache-dependency-path: '**/pom.xml'

      - name: Step 3 - Import GPG secret key
        run: |
          cat <(echo -e "${{ secrets.MAVEN_GPG_PRIVATE_KEY }}") | gpg --batch --import
          gpg --list-secret-keys --keyid-format LONG
        env:
          MAVEN_GPG_PRIVATE_KEY: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}

      - name: Step 4 - Publish package
        run: mvn --batch-mode --fail-at-end clean deploy -DskipTests -DskipITs -Dspotless.check.skip=true -e
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }} # Passed to the GPG plugin

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: '**/target/*-reports/TEST-*.xml'
          annotate_only: true

 